/*** COLORS:

***/

/**** Main Styles ****/

li {
  list-style: none;
}



/************  MOBILE ************/

@media screen and (max-width: 480px) {

/**** DRY ****/
h1,
.main-nav,
.main-nav li,
.graphic-portfolio {
  margin: auto;
}

h1,
.main-nav li {
  text-align: center;
}

.main-nav li,
.graphic-portfolio {
  display: block;
  border-radius: 10px;
}


/**** Header ****/
h1 {
  color: #e6a99d;
  padding-top: 80px;
  padding-bottom: 30px;
}


/**** Navigation ****/

.main-nav {
  padding-left: 0; /**** Chrome adds auto 40px to padding left, needed to specify there was no padding to center item, used developer tools to see dimensions of property ****/
}

.main-nav li {
    background: #989898;
    margin-bottom: 15px;
    padding: 20px;
    width: 60%;
  }


/**** Gallery ****/

.graphic-portfolio {
  width: 75%;
  margin-top: 70px;
  margin-bottom: 70px;
}


/**** Footer ****/
.footer-menu {
  display: none;
}

h3,
.to-top {
  display: inline-block;
  width: 40%;
  padding: 15px;
}

.to-top {
    text-align: right;
}

}
/************  TABLET ************/
@media screen and (min-width: 481px AND max-width: 720px) {


/**** Footer ****/
.to-top {
    display: none;
  }
}

/************  DESKTOP ************/
@media screen and (min-width: 721px) {}
